<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Iedit ang mga Larawan', photographs_path, class: "btn" %></li>
  <li class="list-group-item"><%= link_to 'Iedit ang mga #WhoGoat ', photographs_path, class: "btn" %></li>
  <li class="list-group-item"><%= link_to 'Iedit ang mga Kanta', photographs_path, class: "btn" %></li>
  <li class="list-group-item"><%= link_to 'Iedit and mga Tungkol sakin ', photographs_path, class: "btn" %></li>
  <li class="list-group-item"><%= link_to 'Gumawa ng Additional Blogger bukod sa Orihinal ', new_user_registration_path, class: "btn" %></li>
</ul>