<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <p id="notice"><%= notice %></p>
  <div class="panel-heading jumbotron h1-panel">
    <h1><span class="h1-panel">MAGULONG MGA LARAWAN</span></h1>
    <%= link_to 'BAGONG LARAWAN', new_photograph_path, class: "btn btn-info" %>
  </div>  
    <% @photographs.each do |photograph| %>
        <div class="container-fluid pane-center">
        <div class="panel panel-default">
          <div class="panel-body">
                <%= image_tag photograph.image.url(:medium) %><br><br>
                <div class="panel-footer">
                  <%= photograph.title %><br>
                  <%= photograph.description %><br>
                  <%= if user_signed_in? %>
                    <%= link_to 'Show', photograph %><br>
                    <%= link_to 'Edit', edit_photograph_path(photograph) %><br>
                    <%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
                  <% else %>
                  <% end %>
                </div>
            </div>
          </div>
        <br>
        </div>
    <% end %>
</div>
