<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @music.title %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @music.lyrics %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>
<p>
  <strong>Artist:</strong>
  <%= @music.mp3 %>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
